In [1]:
import requests
import json

In [52]:
j=[
    {"col":"a","missingFiltering":"1","outlierFiltering":"0","normalize":"0","stringCleaning":["0"]},
    {"col":"b","missingFiltering":"1","outlierFiltering":"0","normalize":"0","stringCleaning":["0"]},
    {"col":"c","missingFiltering":"1","outlierFiltering":"0","normalize":"0","stringCleaning":["0"]}
  ]

In [53]:
form={"tokenstr":"ab","tokenint":"293","fileUid":"num","action":json.dumps(j)}

In [55]:
a=requests.post("http://localhost:8787/preprocess/do",data=form)

In [42]:
import pandas as pd
df=pd.read_csv('../db/num.csv')

In [31]:
df

   a  b  c
0  1  2  1
1  2  5  2
2  1  7  1
3  3  7  3
4  1  1  1
5  2  4  2
6  3  9  3

In [32]:
df['a']=[1,2,3,4,5,6,7]

In [35]:
import numpy as np
np.asarray(df['a'])

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [64]:
form={"fileUid":"cv"}
a=requests.get("http://localhost:8787/data/download",data=form)

In [65]:
a.raw

In [66]:
with open('test.zip','wb') as file:
    file.write((a.content))