# Testing API

In [1]:
import requests
import json
import time
import jwt

In [64]:
payload = {
        "iss": "inanalysis.com",
        "iat": int(time.time()),
        "exp": int(time.time()) + 3600,
        "aud": "www.inanalysis.com"
}
token = jwt.encode(payload, "iloveraid1", algorithm='HS256').decode('utf-8')

In [73]:
form={"token":token,
      "fileUid":"num",
      "dataType":"num",
      "projectType":"classification",
      "algoName":"in_knn",
      "param":'{"fit_intercept":1,"normalize":0}',
      "input":'{"X":["a","b"]}',
      "output":'{"Y":"c"}'
     }

In [74]:
a=requests.post("http://localhost:8787/analytic/train",data=form)

In [75]:
a.content

b'{\n    "status": "success",\n    "msg": "",\n    "data": {\n        "modelUid": "f3a5da0a-d2a9-11e9-863d-7085c24b5b1d"\n    }\n}\n'

In [98]:
form={"token":token,
      "modelUid":"f3a5da0a-d2a9-11e9-863d-7085c24b5b1d",
      "fileUid":"num",
      "preprocess":1
     }
a=requests.post("http://localhost:8787/analytic/delete",data=form)

In [99]:
a.content

b'{\n    "status": "success",\n    "msg": "",\n    "data": {}\n}\n'

# Pandas and Numpy Playground

In [1]:
import pandas as pd
df=pd.read_csv('../db/num.csv')

In [2]:
df

   a  b      c
0  1  2    NaN
1  2  5    2.0
2  1  7    1.0
3  3  7    3.0
4  1  1  100.0
5  2  4    2.0
6  3  9    3.0

In [13]:
import numpy as np

In [18]:
mse = np.sqrt(np.abs((df['a'] - df['b'])).mean())

In [19]:
mse

1.7728105208558367

In [5]:
df['aa']=[1,2,3,4,5,6,7]

In [6]:
df

   a  b      c  test  aa
0  1  2    NaN     1   1
1  2  5    2.0     2   2
2  1  7    1.0     3   3
3  3  7    3.0     4   4
4  1  1  100.0     5   5
5  2  4    2.0     6   6
6  3  9    3.0     7   7

In [8]:
df.to_csv('./out.csv',index=None)

In [21]:
df.corr(method='pearson')

          a         b         c
a  1.000000  0.705858 -0.531948
b  0.705858  1.000000 -0.779570
c -0.531948 -0.779570  1.000000

In [13]:
df.columns.tolist()

[]

In [133]:
df['a']=[1,2,3,4,5,6,7]

In [126]:
import numpy as np
a=np.asarray(df['a'])

In [127]:
b=np.asarray([True,True,False,True,True,True,True])

In [154]:
a=np.asarray(['b',,1,2,3,4,5])

In [155]:
set(a)

{1, 2, 3, 4, 5}

In [157]:
[{"original":o,"converted":c} for c,o in enumerate(set(a))]

[{'original': 1, 'converted': 0},
 {'original': 2, 'converted': 1},
 {'original': 3, 'converted': 2},
 {'original': 4, 'converted': 3},
 {'original': 5, 'converted': 4}]

In [145]:
from keras.utils import to_categorical
to_categorical(a)

ValueError: invalid literal for int() with base 10: 'a'

In [26]:
c2d={'1':'a','2':'b','3':'c'}
d2c={'a':1,'b':2,'c':3}

In [27]:
import numpy as np
real=[1,1,1,2,2,2,3,3,3]
predicted=[1,1,3,2,2,3,1,2,3]
from sklearn.metrics import confusion_matrix
realL=[c2d[str(i)] for i in real]
predictedL=[c2d[str(i)] for i in predicted]
label=[k for k in d2c]
cmx=confusion_matrix(realL,predictedL,labels=label)
cmx=cmx.astype('float')/cmx.sum(axis=1)[:,np.newaxis]

In [28]:
cmx

array([[0.66666667, 0.        , 0.33333333],
       [0.        , 0.66666667, 0.33333333],
       [0.33333333, 0.33333333, 0.33333333]])

In [30]:
import pandas as pd
df=pd.DataFrame(cmx,columns=label)

In [31]:
from service.visualizeService.core.analyticVizAlgo.heatmap import heatmap

In [32]:
algo=heatmap(df,"cmx",color='blue',xName='predict',yName='real')

In [33]:
algo.doBokehViz()

In [34]:
from bokeh.plotting import  show
show(algo.bokeh_fig)

In [1]:
from service.visualizeService.core.analyticVizAlgo.dotLineSelect import dotLineSelect

In [2]:
x={
    "xa":[1,2,3,4,5,6,7,8,9],
    "xb":[2,3,4,5,6,7,8,9,10]
}
dot={
    "ya":[4,5,7,6,3,4,2,1,5],
    "yb":[12,5,6,4,13,10,-1,5,4]
}
line={
    "ya":[3,4,6,5,2,3,1,0,4],
    "yb":[11,4,5,3,12,9,-2,4,3]
}

In [3]:
algo=dotLineSelect(x,dot,line)

In [4]:
algo.doBokehViz()

In [5]:
from bokeh.plotting import  show
show(algo.bokeh_fig)